altair==2.4.1
attrs==19.1.0
backcall==0.1.0
bleach==3.3.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.2
defusedxml==0.5.0
dill==0.2.9
entrypoints==0.3
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kenlm==0.0.0
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==6.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nbconvert==5.4.1
nbdime==1.0.5
nbformat==4.4.0
notebook==5.7.6
numpy==1.16.2
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
plac==0.9.6
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pydot==1.4.1
Pygments==2.3.1
pygtrie==2.3
pyparsing==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2018.9
pyzmq==18.0.1
qtconsole==4.4.3
regex==2018.1.10
requests==2.21.0
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
spacy==2.0.18
terminado==0.8.1
testpath==0.4.2
thinc==6.12.1
toolz==0.9.0
torch==1.0.1.post2
torchtext==0.3.1
tornado==6.0.1
tqdm==4.31.1
traitlets==4.3.2
typing==3.6.6
ujson==1.35
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.10.11
